includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  bootstrapFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
  paths:
    - ./pricee
  excludePaths:
    - ./pricee/vendor (?)

  reportUnmatchedIgnoredErrors: false
  level: 5
